@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: #6441A5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6441A5, #2a0845); /* Chrome 10-25, Safari 5.1-6 */
}

body {
    font-family: montserrat, arial, verdana;
    background: transparent;
}

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    border-radius: 20px;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #ee0979;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}


/*Entire HTML body*/
 body {
	 width: 100%;
	 background-color: transparent;
	 font-family: Lato;
	 font-size: 16px;
	 color: #fff;
	 font-weight: 400;
	 overflow-x: hidden;
	/*main container wrapper*/
	/*footer section*/
}
 body .mainContainer {
	 height: 100% !important;
	 padding: 0 8%;
	 background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/clientes2.png');
	 background-repeat: no-repeat;
	 background-size: 100% 100%;
	 overflow: hidden;
	/*Navigation menu section*/
	/*legend section*/
}
 body .mainContainer .navbar {
	 height: 70px;
	 background-color: transparent;
	 padding: 0;
}
 body .mainContainer .navbar .navbar-brand {
	 color: #fff;
	 font-weight: 800;
	 font-size: 24px;
	 line-height: 29px;
	 margin-left: 13%;
	 transition: all;
	 transition-duration: 1s;
}
 body .mainContainer .navbar .navbar-brand:hover, body .mainContainer .navbar .navbar-brand:focus {
	 transform: scale(1.2);
	 -webkit-text-stroke: 1px #fff;
	 -webkit-text-stroke-color: transparent;
}
 body .mainContainer .navbar .navbar-collapse {
	 justify-content: flex-end;
}
 body .mainContainer .navbar .navbar-collapse .navbar-nav {
	 width: 70% !important;
	 position: relative;
}
 body .mainContainer .navbar .navbar-collapse .navbar-nav .last {
	 position: absolute;
	 right: 0 !important;
}
 body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item {
	 margin: 0 10px;
}
 body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
	 color: #fff;
	 padding: 10px 0x;
	 font-weight: 800;
	 transition: all;
	 transition-duration: 1s;
}
 body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
	 border-bottom: 2px solid #fff;
	 transform: translateY(-5px);
}
 body .mainContainer .legend {
	 margin-top: 130px;
	 height: 770px;
	 color: #fff;
	/*legend introduction text*/
}
 body .mainContainer .legend .legend__text {
	 width: 100%;
}
 body .mainContainer .legend .legend__text .introText {
	 text-align: center;
}
 body .mainContainer .legend .legend__text .introText .introText__heading {
	 font-size: 40px;
	 line-height: 54px;
	 margin-bottom: 30px;
	 font-weight: 800;
}
 body .mainContainer .legend .legend__text .introText .introText__heading span {
	 opacity: 0.8;
	 font-weight: 400;
}
 body .mainContainer .legend .legend__text .introText .introText__link a {
	 color: #fff;
	 font-weight: 800;
	 padding: 10px 0;
	 border-bottom: 2px solid #fff;
	 transition: all;
	 transition-duration: 1s;
}
 body .mainContainer .legend .legend__text .introText .introText__link a:hover, body .mainContainer .legend .legend__text .introText .introText__link a:focus {
	 text-decoration: none;
	 filter: blur(1px);
}
 body .footer {
	 text-align: center;
	 height: 50px;
	 width: 100%;
	 bottom: 0 !important;
	 background-color: #111;
	 color: #fff;
	 display: flex;
	 align-items: flex-end;
	 justify-content: center;
}
 body .footer .footer__text a {
	 color: red;
}
 body .footer .footer__text a:hover, body .footer .footer__text a:focus {
	 text-decoration: none;
}
/*Responsiveness for screens*/
 @media screen and (max-width: 1600px) {
	 body .mainContainer .navbar .navbar-brand {
		 margin-left: 6%;
	}
}
 @media screen and (max-width: 1350px) {
	 body .mainContainer .navbar .navbar-brand {
		 margin-left: 2%;
	}
}
 @media screen and (max-width: 1200px) {
	 body .mainContainer {
		 padding: 0 3%;
	}
}
 @media screen and (max-width: 1000px) {
	 body .mainContainer {
		 padding: 0 1%;
	}
	 body .mainContainer .navbar .navbar-nav .last {
		 position: relative !important;
	}
}
 @media screen and (max-width: 767px) {
	 body .mainContainer {
		 padding: 0 2%;
		 height: 800px !important;
	}
	 body .mainContainer .navbar {
		 margin-bottom: 200px;
	}
	 body .mainContainer .navbar .navbar-brand {
		 margin-left: 0 !important;
	}
	 body .mainContainer .navbar .navbar-collapse .navbar-nav {
		 width: 100% !important;
		 background-color: #333;
	}
	 body .mainContainer .navbar .navbar-collapse .navbar-nav .last {
		 position: relative !important;
	}
	 body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
		 border-bottom: 2px solid #fff;
		 transform: translateY(-5px);
	}
	 body .mainContainer .legend {
		 height: 550px;
	}
	 body .mainContainer .legend .legend__text {
		 padding: 0;
		 height: 400px !important;
	}
	 body .mainContainer .legend .legend__text .introText {
		 width: 100%;
		 text-align: center;
	}
	 body .mainContainer .legend .legend__text .introText .introText__heading {
		 font-size: 32px;
	}
}
 